 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Alex Jones, I have been doing Web Development / Design for 6 years. In order to provide you with the best development / design I work closely with the customer to ensure their needs are met.</p>
                </div>
                <div class="col-lg-4">
                    <p>Much of my web work is with Wordpress, Javascript and PHP.</p>
                </div>
            </div>
        </div>
    </section>